# Dimitri_Correction_D'adress

## Init

### Chargement des modules

In [2]:
import sys
sys.path.append("D:\Lib_Python")

In [3]:
import pandas as pd
import openpyxl

In [4]:
pd.set_option('display.max_columns', None)

### Chargement des Données

In [5]:
Ban_Adress = pd.read_excel("./Adresses BAN Les 3 Bassins.xlsx")
Zeop_Adress = pd.read_excel("./Adresses ZEOP Les 3 Bassins.xlsx")

In [128]:
Ban_Adress

,id,id_fantoir,numero,rep,nom_voie,code_postal,code_insee,nom_commune,code_insee_ancienne_commune,nom_ancienne_commune,x,y,lon,lat,type_position,alias,nom_ld,libelle_acheminement,nom_afnor,source_position,source_nom_voie,certification_commune,cad_parcelles
0,97423_zz71aq_00002,NaN,2,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,323504.11,7665141.36,55.300741,-21.106334,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0672
1,97423_zz71aq_00004,NaN,4,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,323512.19,7665114.76,55.300816,-21.106575,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0673
2,97423_zz71aq_00006,NaN,6,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,323531.08,7665126.81,55.300999,-21.106468,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0674
3,97423_zz71aq_00008,NaN,8,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,323552.22,7665122.16,55.301202,-21.106512,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0675
4,97423_zz71aq_00010,NaN,10,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,323554.05,7665106.46,55.301218,-21.106654,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4085,97423_0119_00011,97423_0119,11,NaN,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,323412.44,7665698.64,55.299916,-21.101292,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,0,97423000AI0637
4086,97423_0119_00012,97423_0119,12,NaN,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,323404.28,7665674.75,55.299835,-21.101507,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,0,97423000AI0277
4087,97423_0119_00001_a,97423_0119,1,a,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,323426.36,7665737.55,55.300054,-21.100942,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,0,97423000AI0541
4088,97423_0119_00009_porte n°a,97423_0119,9,porte n°a,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,323395.10,7665716.51,55.299751,-21.101129,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,0,NaN
4089,97423_0119_00009_porte n°b,97423_0119,9,porte n°b,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,323399.02,7665709.68,55.299788,-21.101191,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,0,97423000AI0636

In [7]:
Zeop_Adress

,x,y,imb_id,num_voie,cp_no_voie,type_voie,nom_voie,batiment,code_insee,code_poste,nom_com,catg_loc_imb,imb_etat,pm_ref,pm_etat,code_l331,geom_mod,type_imb,date_completude,date_completude_manquante
0,55.295377,-21.102210,974230052K-14,14,NaN,Chemin,DES BOUGAINVILLIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBIA,deploye,REUN,f,PA,2017-08-03,f
1,55.269899,-21.127152,974230027H-7,7,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
2,55.269944,-21.127433,974230027H-8,8,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3,55.270034,-21.127144,974230027H-9,9,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
4,55.299774,-21.114258,974230028J-1,1,NaN,Chemin,DES BAMBOUS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBKA,deploye,REUN,f,PA,2022-01-17,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3174,55.270751,-21.127531,974230027H-20,20,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3175,55.269483,-21.127274,974230027H-3,3,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3176,55.269566,-21.127600,974230027H-4,4,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3177,55.269677,-21.127204,974230027H-5,5,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3178,55.269731,-21.127521,974230027H-6,6,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f

In [8]:
#Convertir les données de la BAN vers le format ZEOP

## Obtenir toutes les adresses BAN qui sont certifier


## On garde uniquement les variables des BAN

Ban_Adress_Certifier = Ban_Adress[Ban_Adress["certification_commune"] == 1]
Ban_Adress_No_Certifier = Ban_Adress[Ban_Adress["certification_commune"] == 0]

In [87]:
Ban_Adress_Certifier

,id,id_fantoir,numero,rep,nom_voie,code_postal,code_insee,nom_commune,code_insee_ancienne_commune,nom_ancienne_commune,x,y,lon,lat,type_position,alias,nom_ld,libelle_acheminement,nom_afnor,source_position,source_nom_voie,certification_commune,cad_parcelles
0,97423_zz71aq_00002,NaN,2,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,323504.11,7665141.36,55.300741,-21.106334,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0672
1,97423_zz71aq_00004,NaN,4,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,323512.19,7665114.76,55.300816,-21.106575,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0673
2,97423_zz71aq_00006,NaN,6,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,323531.08,7665126.81,55.300999,-21.106468,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0674
3,97423_zz71aq_00008,NaN,8,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,323552.22,7665122.16,55.301202,-21.106512,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0675
4,97423_zz71aq_00010,NaN,10,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,323554.05,7665106.46,55.301218,-21.106654,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3936,97423_1578_00016,97423_1578,16,NaN,Allée des Pimpins,97426,97423,Les Trois-Bassins,NaN,NaN,323721.43,7664162.67,55.302732,-21.115194,logement,NaN,NaN,LES TROIS BASSINS,ALLEE DES PIMPINS,commune,commune,1,97423000AK1380
3945,97423_1579_00015,97423_1579,15,NaN,Allée des Sauges,97426,97423,Les Trois-Bassins,NaN,NaN,323778.15,7664162.50,55.303278,-21.115201,logement,NaN,NaN,LES TROIS BASSINS,ALLEE DES SAUGES,commune,commune,1,97423000AK1764
3947,97423_1579_00017,97423_1579,17,NaN,Allée des Sauges,97426,97423,Les Trois-Bassins,NaN,NaN,323762.47,7664162.56,55.303127,-21.115199,logement,NaN,NaN,LES TROIS BASSINS,ALLEE DES SAUGES,commune,commune,1,97423000AK1764
3966,97423_0212_00020_a,97423_0212,20,a,Chemin des Poinsettias,97426,97423,Les Trois-Bassins,NaN,NaN,323330.68,7664200.90,55.298975,-21.114811,logement,NaN,NaN,LES TROIS BASSINS,CHEMIN DES POINSETTIAS,commune,commune,1,97423000AE0208
4084,97423_0119_00010,97423_0119,10,NaN,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,323387.81,7665689.52,55.299678,-21.101372,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,1,97423000AI0277

In [ ]:
Ban_Adress_No_Certifier

### Convertition de la données ZEOP en BAN

In [ ]:
def Convert_ZEOP_to_FormatBAN(Ban_Adress, Zeop_Adress):
    Ban_Adress_Empty = Ban_Adress.iloc[0:0]

    Zeop_Adress_reodered = Ban_Adress_Empty
    Zeop_Adress_reodered['lon'] = Zeop_Adress['x']
    Zeop_Adress_reodered['lat'] = Zeop_Adress['y']
    Zeop_Adress_reodered['nom_voie'] = Zeop_Adress['type_voie']+ " " + Zeop_Adress['nom_voie'].str.lower()
    Zeop_Adress_reodered['numero'] = Zeop_Adress['num_voie']
    Zeop_Adress_reodered['rep'] = Zeop_Adress['cp_no_voie']
    Zeop_Adress_reodered['id'] = Zeop_Adress['imb_id']

    return Zeop_Adress_reodered

In [134]:
Zeop_Adress_Convert = Convert_ZEOP_to_FormatBAN(Ban_Adress, Zeop_Adress)
Zeop_Adress_Convert

C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\1966148228.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['lon'] = Zeop_Adress['x']
C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\1966148228.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['lat'] = Zeop_Adress['y']
C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\1966148228.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['nom_voie'] = Zeop_Adress['type_voie']+ " " + Zeop_Adress['nom_voie'].str.lower()
C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\1966148228.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['numero'] = Zeop_Adress['num_voie']
C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\1966148228.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['rep'] = Zeop_Adress['cp_no_voie']
C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\1966148228.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['id'] = Zeop_Adress['imb_id']

,id,id_fantoir,numero,rep,nom_voie,code_postal,code_insee,nom_commune,code_insee_ancienne_commune,nom_ancienne_commune,x,y,lon,lat,type_position,alias,nom_ld,libelle_acheminement,nom_afnor,source_position,source_nom_voie,certification_commune,cad_parcelles
0,974230052K-14,NaN,14,NaN,Chemin des bougainvilliers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.295377,-21.102210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,974230027H-7,NaN,7,NaN,Chemin des bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269899,-21.127152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,974230027H-8,NaN,8,NaN,Chemin des bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269944,-21.127433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,974230027H-9,NaN,9,NaN,Chemin des bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.270034,-21.127144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,974230028J-1,NaN,1,NaN,Chemin des bambous,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.299774,-21.114258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3174,974230027H-20,NaN,20,NaN,Chemin des bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.270751,-21.127531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3175,974230027H-3,NaN,3,NaN,Chemin des bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269483,-21.127274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3176,974230027H-4,NaN,4,NaN,Chemin des bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269566,-21.127600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3177,974230027H-5,NaN,5,NaN,Chemin des bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269677,-21.127204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3178,974230027H-6,NaN,6,NaN,Chemin des bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269731,-21.127521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Essai : Vérification de la vérité des adresses avec Levenshtein

In [39]:
import Levenshtein

In [78]:
## Comparer les données ZEOP avec les adresses BAN confirmed
## 

## distance de Levenshtein

print(Levenshtein.ratio("Chemin des banaliers", "Chemin des banaliers"))

# Forme un tableau pandas contenant les rows de Brand_file avec des erreurs
def Create_Df_Wrong_Adresses(Ban_File, Brand_file):

    #init

    #Pandas qui contiendra les rows avec les datas 
    ErrorData = Ban_File.iloc[0:0]

    for i in range(len(Brand_file)):
        test_row = Brand_file.iloc[i]
        for j in range(len(Ban_File)):
            test_BAN = Ban_File.iloc[j]

            if not Is_Wrong_Adress(test_row, test_BAN, i):
                print(str(i) + " : FALSE")
                ErrorData.loc[len(ErrorData)] = Ban_File.iloc[i]
                break;

        print(i)

    return ErrorData

def Is_Wrong_Adress(test_row, test_BAN, i):
     # si Le ratio n'est pas acceptable
    if (not IsRatioAcceptable(Levenshtein.ratio(test_row["nom_voie"], test_BAN["nom_voie"]), 0.95)) : return True
    if (not IsRatioAcceptable(Levenshtein.ratio(str(test_row["code_postal"]), str(test_BAN["code_postal"])), 0.95 )) : return True
    if (not IsRatioAcceptable(Levenshtein.ratio(str(test_row["code_insee"]), str(test_BAN["code_insee"])), 0.95 )) : return True
    if (not IsRatioAcceptable(Levenshtein.ratio(test_row["nom_commune"], test_BAN["nom_commune"]), 0.95)) : return True

    if (test_row["lon"] -  test_BAN["lon"] != 0) : return True
    if (test_row["lat"] -  test_BAN["lat"] != 0) : return True

    print(str(i) + "NON")
    return False

def IsRatioAcceptable(ratio_float, score_accepted):
    if ratio_float >= score_accepted:
        return True

    return False

1.0

In [ ]:
data = Create_Df_Wrong_Adresses(Ban_Adress_Certifier, Zeop_Adress_Convert)

In [80]:
data

Empty DataFrame
Columns: [id, id_fantoir, numero, rep, nom_voie, code_postal, code_insee, nom_commune, code_insee_ancienne_commune, nom_ancienne_commune, x, y, lon, lat, type_position, alias, nom_ld, libelle_acheminement, nom_afnor, source_position, source_nom_voie, certification_commune, cad_parcelles]
Index: []

## Identifier les similitudes des coordonées FIRME et BAN

### Rechargement des données

In [100]:
#Les données Comparées
Zeop_Adress

,x,y,imb_id,num_voie,cp_no_voie,type_voie,nom_voie,batiment,code_insee,code_poste,nom_com,catg_loc_imb,imb_etat,pm_ref,pm_etat,code_l331,geom_mod,type_imb,date_completude,date_completude_manquante
0,55.295377,-21.102210,974230052K-14,14,NaN,Chemin,DES BOUGAINVILLIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBIA,deploye,REUN,f,PA,2017-08-03,f
1,55.269899,-21.127152,974230027H-7,7,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
2,55.269944,-21.127433,974230027H-8,8,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3,55.270034,-21.127144,974230027H-9,9,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
4,55.299774,-21.114258,974230028J-1,1,NaN,Chemin,DES BAMBOUS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBKA,deploye,REUN,f,PA,2022-01-17,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3174,55.270751,-21.127531,974230027H-20,20,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3175,55.269483,-21.127274,974230027H-3,3,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3176,55.269566,-21.127600,974230027H-4,4,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3177,55.269677,-21.127204,974230027H-5,5,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3178,55.269731,-21.127521,974230027H-6,6,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f

In [41]:
Zeop_Adress_Convert = Convert_ZEOP_to_FormatBAN(Ban_Adress_Certifier, Zeop_Adress)

C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\361596380.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['lon'] = Zeop_Adress['x']
C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\361596380.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['lat'] = Zeop_Adress['y']
C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\361596380.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['code_postal'] = Zeop_Adress['code_poste']
C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\361596380.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['code_insee'] = Zeop_Adress['code_insee']
C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\361596380.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['nom_commune'] = Zeop_Adress['nom_com'] #ATTENTION
C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\361596380.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['libelle_acheminement'] = Zeop_Adress['nom_com'].str.replace("-", " ").str.upper() #ATTENTION
C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\361596380.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['nom_afnor'] = Zeop_Adress['type_voie'].str.upper() + " " + Zeop_Adress['nom_voie'].str.upper()
C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\361596380.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['nom_voie'] = Zeop_Adress['type_voie']+ " " + Zeop_Adress['nom_voie'].str.lower()
C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\361596380.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['numero'] = Zeop_Adress['num_voie']
C:\Users\kapuc\AppData\Local\Temp\ipykernel_21652\361596380.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Zeop_Adress_reodered['id'] = Zeop_Adress['imb_id']

### Comparer les coordonnées

##### Utilisation de l'algo de classification cKDTree

In [123]:

from scipy.spatial import cKDTree

In [ ]:
# Construire les KD-Trees
tree1 = cKDTree(Zeop_Adress_Convert[['lon', 'lat']])
tree2 = cKDTree(Ban_Adress_Certifier[['lon', 'lat']])

In [125]:
# Trouver les paires proches avec une tolérance
tolerance = 0.5
indices = tree1.query_ball_tree(tree2, r=tolerance)

In [126]:
# Formatage des résultats
close_points = []
for i, matches in enumerate(indices):
    for j in matches:
        close_points.append({'df1_index': i, 'df2_index': j})

In [128]:
# Convertir en DataFrame
close_points_df = pd.DataFrame(close_points)
print(close_points_df)

KeyboardInterrupt

##### Utilisation de l'algo des distances euclidiennes

In [15]:
import pandas as pd
import numpy as np

In [ ]:
# Fonction pour calculer les distances
# La df2 sera la donnée où chaque identifiant sera comparé à celui de la BAN (df1)
def find_nearest(df1, df2):
    nearest_points = []
    for i, row2 in df2.iterrows():
        distances = np.sqrt((df1['lon'] - row2['lon'])**2 + (df1['lat'] - row2['lat'])**2)
        nearest_idx = distances.idxmin()  # Index du point le plus proche
        nearest_points.append({'df2_id': row2['id'], 'nearest_df1_id': df1.loc[nearest_idx, 'id'], 
                               'distance': distances[nearest_idx]})
    return pd.DataFrame(nearest_points)

In [ ]:
# Trouver les points les plus proches
result = find_nearest(Ban_Adress_Certifier, Zeop_Adress_Convert)

print(result)

In [ ]:
top_20_distances = result.sort_values(by='distance', ascending=True).head(20)

print(top_20_distances)

In [ ]:
result

Mise à jour de la donnée FIRME en fonction des distances avec la donnée BAN

In [145]:
def ChangeFirmeAdress_With_NeareastCoord( Ban_Adr, Zeop_Adr):
    # Trouver les points les plus proches
    result = find_nearest(Ban_Adr, Zeop_Adr)
    
    Files_Empty = Ban_Adr.iloc[0:0]
    copy_Zeop_Adr = Zeop_Adr.copy(deep=True)
    sum_updated = 0
    # Boucle sur les résultats
    for _, row in result.iterrows():
        if row["distance"] < 0.000050:
            id = row["nearest_df1_id"]
            
            # Extraire l'adresse correspondante dans Ban_Adr
            adr = Ban_Adr[Ban_Adr["id"] == id][["numero", "rep","nom_voie"]]
            #print(adr)
            if not adr.empty:  # Vérifier que les données existent
                adr_num = adr.iloc[0]["numero"]
                adr_rep = adr.iloc[0]["rep"]
                adr_nomVoie = adr.iloc[0]["nom_voie"]
                #print(adr_nomVoie)
                # Mettre à jour Zeop_Adr
                id_zeop = row["df2_id"]
                #print(copy_Zeop_Adr[copy_Zeop_Adr["id"] == id_zeop]["nom_voie"])
                copy_Zeop_Adr.loc[copy_Zeop_Adr["id"] == id_zeop, "numero"] = adr_num
                copy_Zeop_Adr.loc[copy_Zeop_Adr["id"] == id_zeop, "rep"] = adr_rep
                copy_Zeop_Adr.loc[copy_Zeop_Adr["id"] == id_zeop, "nom_voie"] = adr_nomVoie
                #print(copy_Zeop_Adr[copy_Zeop_Adr["id"] == id_zeop]["nom_voie"])
                sum_updated+=1
                #print(copy_Zeop_Adr.loc[copy_Zeop_Adr["id"] == id_zeop])
                Files_Empty = pd.concat([Files_Empty, copy_Zeop_Adr.loc[copy_Zeop_Adr["id"] == id_zeop]])
            #print("-------")
    print(sum_updated)
    return copy_Zeop_Adr, Files_Empty

In [146]:
Update_Zeop_Adr, Correct_Adr = ChangeFirmeAdress_With_NeareastCoord(Ban_Adress_Certifier,Zeop_Adress_Convert)

1759

In [147]:
Correct_Adr

,id,id_fantoir,numero,rep,nom_voie,code_postal,code_insee,nom_commune,code_insee_ancienne_commune,nom_ancienne_commune,x,y,lon,lat,type_position,alias,nom_ld,libelle_acheminement,nom_afnor,source_position,source_nom_voie,certification_commune,cad_parcelles
0,974230052K-14,NaN,12,bis,Chemin des Bougainvilliers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.295377,-21.102210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,974230027H-7,NaN,7,NaN,Allée des Bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269899,-21.127152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,974230027H-8,NaN,8,NaN,Allée des Bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269944,-21.127433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,974230027H-9,NaN,9,NaN,Allée des Bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.270034,-21.127144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,974230028J-1,NaN,3,NaN,Chemin des Bambous,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.299774,-21.114258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3173,974230027H-2,NaN,2,NaN,Allée des Bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269431,-21.127635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3175,974230027H-3,NaN,3,NaN,Allée des Bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269483,-21.127274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3176,974230027H-4,NaN,4,NaN,Allée des Bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269566,-21.127600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3177,974230027H-5,NaN,5,NaN,Allée des Bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269677,-21.127204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3178,974230027H-6,NaN,6,NaN,Allée des Bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269731,-21.127521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
Update_Zeop_Adr[Update_Zeop_Adr["id"] == "974230110Y-20"] #L'adresse a été modifiée dans ce cas

,id,id_fantoir,numero,rep,nom_voie,code_postal,code_insee,nom_commune,code_insee_ancienne_commune,nom_ancienne_commune,x,y,lon,lat,type_position,alias,nom_ld,libelle_acheminement,nom_afnor,source_position,source_nom_voie,certification_commune,cad_parcelles
1169,974230110Y-20,NaN,29,a,Rue du Général de Gaulle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.295479,-21.106772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
Zeop_Adress_Convert[Zeop_Adress_Convert["id"] == "974230110Y-20"] #L'adresse a été modifiée dans ce cas

,id,id_fantoir,numero,rep,nom_voie,code_postal,code_insee,nom_commune,code_insee_ancienne_commune,nom_ancienne_commune,x,y,lon,lat,type_position,alias,nom_ld,libelle_acheminement,nom_afnor,source_position,source_nom_voie,certification_commune,cad_parcelles
1169,974230110Y-20,NaN,20,NaN,Rue herve payet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.295479,-21.106772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Comparer les données Mise à jour et Originel

In [150]:
""" common_values = set(str(Zeop_Adress_Convert['numero']) + " " + Zeop_Adress_Convert['nom_voie']).intersection
(set(str(Update_Zeop_Adr['numero'])+ " " + Update_Zeop_Adr['nom_voie']))
common_values """

int_df = pd.merge(Update_Zeop_Adr, Correct_Adr, how ='inner') 
difference = pd.merge(Update_Zeop_Adr, Correct_Adr, how ='left', indicator=True)
difference = difference[difference['_merge'] == 'left_only'].drop(columns=['_merge'])
Update_Zeop_Adr

,id,id_fantoir,numero,rep,nom_voie,code_postal,code_insee,nom_commune,code_insee_ancienne_commune,nom_ancienne_commune,x,y,lon,lat,type_position,alias,nom_ld,libelle_acheminement,nom_afnor,source_position,source_nom_voie,certification_commune,cad_parcelles
0,974230052K-14,NaN,12,bis,Chemin des Bougainvilliers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.295377,-21.102210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,974230027H-7,NaN,7,NaN,Allée des Bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269899,-21.127152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,974230027H-8,NaN,8,NaN,Allée des Bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269944,-21.127433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,974230027H-9,NaN,9,NaN,Allée des Bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.270034,-21.127144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,974230028J-1,NaN,3,NaN,Chemin des Bambous,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.299774,-21.114258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3174,974230027H-20,NaN,20,NaN,Chemin des bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.270751,-21.127531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3175,974230027H-3,NaN,3,NaN,Allée des Bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269483,-21.127274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3176,974230027H-4,NaN,4,NaN,Allée des Bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269566,-21.127600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3177,974230027H-5,NaN,5,NaN,Allée des Bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269677,-21.127204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3178,974230027H-6,NaN,6,NaN,Allée des Bananiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.269731,-21.127521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Convertion de ZEOP au format BAN, vers ZEOP

In [151]:
def Convert_BAN_to_FormatZEOP(Ban_Format, Zeop_Format):
    Zeop_Adress_Empty = Zeop_Format.iloc[0:0]

    ## ON garde uniqument les varialbes du fichier BAN
    ## ATTENTION RETIRER LES TIRETS

    Ban_To_Zeop = Zeop_Adress_Empty
    #print(Zeop_Format)
    Ban_To_Zeop['x'] = Ban_Format['lon']
    Ban_To_Zeop['y'] = Ban_Format['lat']
    Ban_To_Zeop['num_voie'] = Ban_Format['numero']
    Ban_To_Zeop['cp_no_voie'] = Ban_Format['rep']
    Ban_To_Zeop['type_voie'] = Ban_Format['nom_voie'].str.split().str[0] #Récupérer le premier mot
    Ban_To_Zeop['nom_voie'] = Ban_Format['nom_voie'].str.split().str[1:].str.join(' ').str.upper() #Récupére tous sauf le primier mot + UPPER
    
    Ban_To_Zeop['imb_id'] = Ban_Format['id']

    # Fusion des anciennes données : 
    
    

    return Ban_To_Zeop

In [ ]:
Ban_To_Zeop = Convert_BAN_to_FormatZEOP(Update_Zeop_Adr, Zeop_Adress)
Ban_To_Zeop

,x,y,imb_id,num_voie,cp_no_voie,type_voie,nom_voie,batiment,code_insee,code_poste,nom_com,catg_loc_imb,imb_etat,pm_ref,pm_etat,code_l331,geom_mod,type_imb,date_completude,date_completude_manquante
0,55.295377,-21.102210,974230052K-14,12,bis,Chemin,DES BOUGAINVILLIERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,55.269899,-21.127152,974230027H-7,7,NaN,Allée,DES BANANIERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55.269944,-21.127433,974230027H-8,8,NaN,Allée,DES BANANIERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,55.270034,-21.127144,974230027H-9,9,NaN,Allée,DES BANANIERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55.299774,-21.114258,974230028J-1,3,NaN,Chemin,DES BAMBOUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3174,55.270751,-21.127531,974230027H-20,20,NaN,Chemin,DES BANANIERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3175,55.269483,-21.127274,974230027H-3,3,NaN,Allée,DES BANANIERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3176,55.269566,-21.127600,974230027H-4,4,NaN,Allée,DES BANANIERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3177,55.269677,-21.127204,974230027H-5,5,NaN,Allée,DES BANANIERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3178,55.269731,-21.127521,974230027H-6,6,NaN,Allée,DES BANANIERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

# Fusionner sur la clé 'id' (ou toute autre clé commune)
result = Ban_To_Zeop.set_index('imb_id').combine_first(Zeop_Adress.set_index('imb_id')).reset_index()
result[result["imb_id"] == "974230110Y-20"]

,imb_id,x,y,num_voie,cp_no_voie,type_voie,nom_voie,batiment,code_insee,code_poste,nom_com,catg_loc_imb,imb_etat,pm_ref,pm_etat,code_l331,geom_mod,type_imb,date_completude,date_completude_manquante
1169,974230110Y-20,55.295479,-21.106772,29,a,Rue,DU GÉNÉRAL DE GAULLE,NaN,97423.0,97426.0,Les Trois-Bassins,individuel,deploye,RU-97423-TBEA,deploye,REUN,f,PA,2017-08-29,f

In [154]:
result.to_csv(path_or_buf="./zeop.csv")

#### Comparer les adresses

In [122]:
common_values = set(str(Zeop_Adress_Convert['numero']) + " " + Zeop_Adress_Convert['nom_voie']).intersection(set(str(Ban_Adress_Certifier['numero'])+ " " + Ban_Adress_Certifier['nom_voie']))
common_values

set()

In [117]:
data1 = {
    'Nom': ['Jimi', 'Bob', 'Charlie'],
    'Âge': [25, 30, 35],
    'Ville': ['Paris', 'Lyon', 'Marseille']
}

data2 = {
    'Nom': ['Alice', 'Bob', 'Alice'],
    'Âge': [25, 30, 35],
    'Ville': ['Paris', 'Lyon', 'Marseille']
}

data1 = pd.DataFrame(data1)
data2 = pd.DataFrame(data2)

In [118]:
common_values = set(data1['Nom']).intersection(set(data2['Nom']))

In [119]:
common_values

{'Bob'}