In [24]:
import sys
sys.path.append("D:\Lib_Python")

In [25]:
import pandas as pd
import openpyxl

In [30]:
Ban_Adress = pd.read_excel("./Adresses BAN Les 3 Bassins.xlsx")
Zeop_Adress = pd.read_excel("./Adresses ZEOP Les 3 Bassins.xlsx")

In [31]:
Ban_Adress

,id,id_fantoir,numero,rep,nom_voie,code_postal,code_insee,nom_commune,code_insee_ancienne_commune,nom_ancienne_commune,...,lat,type_position,alias,nom_ld,libelle_acheminement,nom_afnor,source_position,source_nom_voie,certification_commune,cad_parcelles
0,97423_zz71aq_00002,NaN,2,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.106334,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0672
1,97423_zz71aq_00004,NaN,4,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.106575,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0673
2,97423_zz71aq_00006,NaN,6,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.106468,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0674
3,97423_zz71aq_00008,NaN,8,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.106512,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0675
4,97423_zz71aq_00010,NaN,10,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.106654,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4085,97423_0119_00011,97423_0119,11,NaN,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.101292,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,0,97423000AI0637
4086,97423_0119_00012,97423_0119,12,NaN,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.101507,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,0,97423000AI0277
4087,97423_0119_00001_a,97423_0119,1,a,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.100942,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,0,97423000AI0541
4088,97423_0119_00009_porte n°a,97423_0119,9,porte n°a,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.101129,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,0,NaN
4089,97423_0119_00009_porte n°b,97423_0119,9,porte n°b,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.101191,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,0,97423000AI0636

In [32]:
Zeop_Adress

,x,y,imb_id,num_voie,cp_no_voie,type_voie,nom_voie,batiment,code_insee,code_poste,nom_com,catg_loc_imb,imb_etat,pm_ref,pm_etat,code_l331,geom_mod,type_imb,date_completude,date_completude_manquante
0,55.295377,-21.102210,974230052K-14,14,NaN,Chemin,DES BOUGAINVILLIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBIA,deploye,REUN,f,PA,2017-08-03,f
1,55.269899,-21.127152,974230027H-7,7,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
2,55.269944,-21.127433,974230027H-8,8,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3,55.270034,-21.127144,974230027H-9,9,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
4,55.299774,-21.114258,974230028J-1,1,NaN,Chemin,DES BAMBOUS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBKA,deploye,REUN,f,PA,2022-01-17,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3174,55.270751,-21.127531,974230027H-20,20,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3175,55.269483,-21.127274,974230027H-3,3,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3176,55.269566,-21.127600,974230027H-4,4,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3177,55.269677,-21.127204,974230027H-5,5,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3178,55.269731,-21.127521,974230027H-6,6,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f