In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("Adresses ZEOP Les 3 Bassins.geocoded.csv", delimiter=';')
df

initial = df.loc[:, 'x':'date_completude_manquante']
correct = pd.read_excel("Adresses BAN Les 3 bassins.xlsx")
correct

,id,id_fantoir,numero,rep,nom_voie,code_postal,code_insee,nom_commune,code_insee_ancienne_commune,nom_ancienne_commune,...,lat,type_position,alias,nom_ld,libelle_acheminement,nom_afnor,source_position,source_nom_voie,certification_commune,cad_parcelles
0,97423_zz71aq_00002,NaN,2,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.106334,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0672
1,97423_zz71aq_00004,NaN,4,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.106575,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0673
2,97423_zz71aq_00006,NaN,6,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.106468,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0674
3,97423_zz71aq_00008,NaN,8,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.106512,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0675
4,97423_zz71aq_00010,NaN,10,NaN,Rue du Château d'Eau,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.106654,logement,NaN,NaN,LES TROIS BASSINS,RUE DU CHATEAU D EAU,commune,commune,1,97423000AK0676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4085,97423_0119_00011,97423_0119,11,NaN,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.101292,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,0,97423000AI0637
4086,97423_0119_00012,97423_0119,12,NaN,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.101507,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,0,97423000AI0277
4087,97423_0119_00001_a,97423_0119,1,a,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.100942,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,0,97423000AI0541
4088,97423_0119_00009_porte n°a,97423_0119,9,porte n°a,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.101129,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,0,NaN
4089,97423_0119_00009_porte n°b,97423_0119,9,porte n°b,Impasse des Hibiscus,97426,97423,Les Trois-Bassins,NaN,NaN,...,-21.101191,logement,NaN,NaN,LES TROIS BASSINS,IMPASSE DES HIBISCUS,commune,commune,0,97423000AI0636

In [89]:
correct["type_voie"]=correct["nom_afnor"].str.split(pat=" ").str[0]
correct["nom_afnor"]=correct["nom_afnor"].str.split(pat=" ").str[1:].str.join(" ").str.upper()

In [90]:

print(initial['type_voie'].isna().sum())
initial['type_voie'].fillna(" ", inplace=True)
print(initial['type_voie'].isna().sum())

initial
#initial['type_voie'].unique()

17
0

C:\Users\jadep\AppData\Local\Temp\ipykernel_13776\3967608710.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  initial['type_voie'].fillna(" ", inplace=True)

,x,y,imb_id,num_voie,cp_no_voie,type_voie,nom_voie,batiment,code_insee,code_poste,nom_com,catg_loc_imb,imb_etat,pm_ref,pm_etat,code_l331,geom_mod,type_imb,date_completude,date_completude_manquante
0,"55,29537709","-21,10220969",974230052K-14,14,NaN,Chemin,DES BOUGAINVILLIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBIA,deploye,REUN,f,PA,2017-08-03,f
1,"55,26989903","-21,12715215",974230027H-7,7,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
2,"55,26994391","-21,12743262",974230027H-8,8,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3,"55,27003389","-21,1271445",974230027H-9,9,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
4,"55,29977399","-21,11425813",974230028J-1,1,NaN,Chemin,DES BAMBOUS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBKA,deploye,REUN,f,PA,2022-01-17,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3174,"55,27075112","-21,12753119",974230027H-20,20,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3175,"55,26948305","-21,12727436",974230027H-3,3,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3176,"55,26956591","-21,12760037",974230027H-4,4,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3177,"55,26967701","-21,12720408",974230027H-5,5,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f
3178,"55,26973109","-21,12752077",974230027H-6,6,NaN,Chemin,DES BANANIERS,NaN,97423,97426,Les Trois-Bassins,individuel,deploye,RU-97423-TBBA,deploye,REUN,f,PA,2018-10-18,f

In [91]:
initial["type_voie"]=initial["type_voie"].str.upper()

In [92]:
correct.rename(columns = {'result_housenumber':'num_voie'}, inplace=True)
correct.rename(columns = {'result_street':'nom_voie'}, inplace=True)
correct['nom_voie'] = correct['nom_voie'].str.split(pat=" ").str[1:].str.join(" ").str.upper()
correct.rename(columns = {'numero':'num_voie'}, inplace=True)
correct

,id,id_fantoir,num_voie,rep,nom_voie,code_postal,code_insee,nom_commune,code_insee_ancienne_commune,nom_ancienne_commune,...,type_position,alias,nom_ld,libelle_acheminement,nom_afnor,source_position,source_nom_voie,certification_commune,cad_parcelles,type_voie
0,97423_zz71aq_00002,NaN,2,NaN,DU CHÂTEAU D'EAU,97426,97423,Les Trois-Bassins,NaN,NaN,...,logement,NaN,NaN,LES TROIS BASSINS,DU CHATEAU D EAU,commune,commune,1,97423000AK0672,RUE
1,97423_zz71aq_00004,NaN,4,NaN,DU CHÂTEAU D'EAU,97426,97423,Les Trois-Bassins,NaN,NaN,...,logement,NaN,NaN,LES TROIS BASSINS,DU CHATEAU D EAU,commune,commune,1,97423000AK0673,RUE
2,97423_zz71aq_00006,NaN,6,NaN,DU CHÂTEAU D'EAU,97426,97423,Les Trois-Bassins,NaN,NaN,...,logement,NaN,NaN,LES TROIS BASSINS,DU CHATEAU D EAU,commune,commune,1,97423000AK0674,RUE
3,97423_zz71aq_00008,NaN,8,NaN,DU CHÂTEAU D'EAU,97426,97423,Les Trois-Bassins,NaN,NaN,...,logement,NaN,NaN,LES TROIS BASSINS,DU CHATEAU D EAU,commune,commune,1,97423000AK0675,RUE
4,97423_zz71aq_00010,NaN,10,NaN,DU CHÂTEAU D'EAU,97426,97423,Les Trois-Bassins,NaN,NaN,...,logement,NaN,NaN,LES TROIS BASSINS,DU CHATEAU D EAU,commune,commune,1,97423000AK0676,RUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4085,97423_0119_00011,97423_0119,11,NaN,DES HIBISCUS,97426,97423,Les Trois-Bassins,NaN,NaN,...,logement,NaN,NaN,LES TROIS BASSINS,DES HIBISCUS,commune,commune,0,97423000AI0637,IMPASSE
4086,97423_0119_00012,97423_0119,12,NaN,DES HIBISCUS,97426,97423,Les Trois-Bassins,NaN,NaN,...,logement,NaN,NaN,LES TROIS BASSINS,DES HIBISCUS,commune,commune,0,97423000AI0277,IMPASSE
4087,97423_0119_00001_a,97423_0119,1,a,DES HIBISCUS,97426,97423,Les Trois-Bassins,NaN,NaN,...,logement,NaN,NaN,LES TROIS BASSINS,DES HIBISCUS,commune,commune,0,97423000AI0541,IMPASSE
4088,97423_0119_00009_porte n°a,97423_0119,9,porte n°a,DES HIBISCUS,97426,97423,Les Trois-Bassins,NaN,NaN,...,logement,NaN,NaN,LES TROIS BASSINS,DES HIBISCUS,commune,commune,0,NaN,IMPASSE
4089,97423_0119_00009_porte n°b,97423_0119,9,porte n°b,DES HIBISCUS,97426,97423,Les Trois-Bassins,NaN,NaN,...,logement,NaN,NaN,LES TROIS BASSINS,DES HIBISCUS,commune,commune,0,97423000AI0636,IMPASSE

In [93]:
from rapidfuzz import fuzz
import pandas as pd

# Fonction pour effectuer la correspondance floue sur plusieurs colonnes
def multi_column_fuzzy_match(row, df_to_match, columns_to_match, scorer=fuzz.ratio):
    """
    row: une ligne du DataFrame source
    df_to_match: DataFrame cible pour la correspondance
    columns_to_match: liste des colonnes à comparer
    scorer: méthode de scoring (e.g., fuzz.ratio, fuzz.token_sort_ratio, etc.)
    """
    best_match = None
    best_score = 0
    
    for _, target_row in df_to_match.iterrows():
        try:
            # Assurez-vous que toutes les valeurs sont converties en chaînes
            scores = [
                scorer(str(row[col]), str(target_row[col])) for col in columns_to_match
            ]
            avg_score = sum(scores) / len(columns_to_match)  # Moyenne des scores
            
            if avg_score > best_score:
                best_score = avg_score
                best_match = target_row
        except Exception as e:
            print(f"Error while processing row: {e}")
            continue  # En cas d'erreur, ignorer cette itération
    
    return pd.Series({'matched_id': best_match['id'] if best_match is not None else None,
                      'match_score': best_score})

# Colonnes à comparer
columns = ['nom_voie', 'type_voie', 'num_voie' ]

# Appliquer la correspondance floue ligne par ligne
df[['matched_id', 'match_score']] = initial.apply(
    multi_column_fuzzy_match, 
    axis=1, 
    df_to_match=correct, 
    columns_to_match=columns
)

In [94]:
df.sort_values("match_score", ascending=True).head(30)

,x,y,imb_id,num_voie,cp_no_voie,type_voie,nom_voie,batiment,code_insee,code_poste,...,result_postcode,result_city,result_context,result_citycode,result_oldcitycode,result_oldcity,result_district,result_status,matched_id,match_score
2687,"55,30089696","-21,12381681",97423B011X-605,605,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0068_00065,40.000000
2688,"55,30060788","-21,123841",97423B011X-606,606,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0068_00066,40.000000
2689,"55,3007241","-21,12380604",97423B011X-607,607,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0191_00060,40.000000
2701,"55,30053114","-21,1246622",97423B011X-927,927,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_xffex6_00027,40.000000
2698,"55,30088189","-21,12426828",97423B011X-923,923,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_dmqybr_00023,40.000000
2690,"55,30075787","-21,12422188",97423B011X-608,608,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0191_00060,40.000000
2691,"55,3006351","-21,12401289",97423B011X-609,609,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0068_00069,40.000000
2686,"55,30105287","-21,12452291",97423B011X-602,602,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0068_00062,40.000000
2697,"55,30053403","-21,12438222",97423B011X-920,920,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0239_00020_a,40.341880
2700,"55,30095786","-21,12438647",97423B011X-926,926,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0239_00026_a,40.341880
2699,"55,30078809","-21,12410476",97423B011X-924,924,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0239_00024,40.341880
2694,"55,30056599","-21,12411156",97423B011X-612,612,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0062_00012,40.952381
2692,"55,30064505","-21,1239588",97423B011X-610,610,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0062_00010,40.952381
2695,"55,3007339","-21,12458294",97423B011X-613,613,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0250_00013,42.222222
2696,"55,30099086","-21,1239984",97423B011X-914,914,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0250_00014,42.222222
2693,"55,300746","-21,12436628",97423B011X-611,611,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0250_00011,42.222222
2685,"55,30107603","-21,1241799",97423B011X-2,2,NaN,NaN,LOT AGRICOLE COCAT,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0250_00002,48.888889
1653,"55,26984893","-21,11985342",974230180Z-35,35,NaN,Chemin departemental,9 DE LA MONTEE PANON,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0068_00035,64.934165
1654,"55,26960613","-21,11998643",974230180Z-45,45,NaN,Chemin departemental,9 DE LA MONTEE PANON,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0158_00045,65.384615
1648,"55,26929906","-21,119902",974230180Z-10,10,NaN,Chemin departemental,9 DE LA MONTEE PANON,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0083_00010,65.860806
1656,"55,2678109","-21,12293073",974230180Z-9,9,NaN,Chemin departemental,9 DE LA MONTEE PANON,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_7iz18h_00009,68.230144
1655,"55,26930807","-21,1191253",974230180Z-6,6,NaN,Chemin departemental,9 DE LA MONTEE PANON,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_akwj91_00006,71.060606
1649,"55,26993413","-21,11748779",974230180Z-146,146,NaN,Chemin departemental,9 DE LA MONTEE PANON,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_akwj91_00146,71.060606
2973,"55,26958728","-21,11676165",97423-VTS9Y,152,A,Chemin departemental,9 DE LA MONTEE PANON,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_akwj91_00152,71.060606
1650,"55,26944003","-21,11690467",974230180Z-148,148,NaN,Chemin departemental,9 DE LA MONTEE PANON,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_akwj91_00148,71.060606
1651,"55,26934494","-21,11677724",974230180Z-152,152,NaN,Chemin departemental,9 DE LA MONTEE PANON,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_akwj91_00152,71.060606
1652,"55,26553388","-21,12251903",974230180Z-20,20,NaN,Chemin departemental,9 DE LA MONTEE PANON,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_akwj91_00020,71.060606
908,"55,28827414","-21,10803637",974230094F-81,81,NaN,Chemin,GABRIEL MAREUIL,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0020_00281,75.151515
868,"55,28618904","-21,1069043",974230094F-128,128,NaN,Chemin,GABRIEL MAREUIL,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0059_00028,75.384615
1521,"55,29051901","-21,10199819",974230164G-23,23,NaN,Chemin,MOZART,NaN,97423,97426,...,97426,Les Trois-Bassins,"974, La Réunion",97423,NaN,NaN,NaN,ok,97423_0125_00023,76.190476

In [95]:
#vérification
correct[correct["id"]=="97423_0068_00065"]

,id,id_fantoir,num_voie,rep,nom_voie,code_postal,code_insee,nom_commune,code_insee_ancienne_commune,nom_ancienne_commune,...,type_position,alias,nom_ld,libelle_acheminement,nom_afnor,source_position,source_nom_voie,certification_commune,cad_parcelles,type_voie
714,97423_0068_00065,97423_0068,65,NaN,DE LA CROIX BIGAT,97426,97423,Les Trois-Bassins,NaN,NaN,...,logement,NaN,NaN,LES TROIS BASSINS,DE LA CROIX BIGAT,commune,commune,1,97423000AK1224,CHEMIN